.menu-item-select {
  display: flex;
  align-items: center;

  margin: 5px 20px 5px 20px;
  padding-top: 5px;

  border-top: 1px solid #ddd;

  &__label {
    flex-basis: 34%;
    font-weight: 600;
  }

  &__select {
    flex-basis: 66%;

    select {
      width: 100%;
    }
  }
}
