.shader-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 60px;
}

.shader-card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 300px;
  height: 300px;

  border: 1px solid white;
  margin: 10px;

  text-decoration: none;

  &__canvas {
    flex-basis: 200px;
  }

  &__hero {
    flex-grow: 1;
    padding: 10px;
    background: white;
    color: black;
  }

  &__title {

  }
}
